{% extends 'base.html' %}
{% block page_title %}Data Analysis{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
<li><a href="{% url 'home' %}">Inicio</a></li>
<li>| <a href="{% url 'section_1' %}">Section 1</a></li>
<li>| <a href="{% url 'save_to_db' %}">2. Dispersión de la Información</a></li>
</ul>
{% endblock breadcrumb %}
{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-4"><h1>DataBase</h1></div>
            <div class="col-sm-8">
                <p>Se muestran los resultados despues limpiar los datos
                    y de agregarlos en la base de datos en una sola tabla</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h2>Total Records</h2>
                {{ total_records | safe }}
            </div>
            <div class="col-sm">
                <h3>Column Names</h3>
                <ul>
                {% for column in column_names %}
                <li>{{ column }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
{% endblock %}