{% extends 'base.html' %}
{% block page_title %}Data Analysis{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Inicio </a></li>
    <li>| <a href="{% url 'section_1' %}">Section 1 </a></li>
    <li>| <a href="{% url 'create_views' %}">4. Display Views</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
    <h1>Views</h1>
        <div class="row">
            <div class="col-sm-4">
                <h2>Total Rows</h2>
                {{ total_rows_dayli_charges | safe }}
            </div>
            <div class="col-sm-8">
                <h3>Column Names</h3>
                <ul>
                {% for column in charges_view_column_names %}
                <li>{{ column }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>View data</h2>
                <ol>
                {% for dato in charges_view_data %}
                    <li>{{ dato.id }} | {{ dato.status }} | {{ dato.company_name }} | {{ dato.amount }} | {{ dato.created_at }} | {{ dato.updated_at }}</li>
                {% endfor %}
                </ol>
                <img src="data:image/png;base64,{{ plot_image }}" alt="Chart" width="100%">
            </div>
        </div>
    </div>
{% endblock %}