{% extends 'base.html' %}
{% block page_title %}Create New Tables{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
<li><a href="{% url 'home' %}">Inicio</a></li>
<li>| <a href="{% url 'section_1' %}">Section 1</a></li>
<li>| <a href="{% url 'create_tables' %}">3. Creación de nuevas tablas</a></li>
</ul>
{% endblock breadcrumb %}
{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-4">
            <h1>Create New Tables</h1>
            </div>
            <div class="col-sm-8">
                <p>Aqui se crean y llenan las tablas de 'charges' y 'companies', se anexa
                    imagen de la dependencia de las tablas</p>
                <img src="/static/assets/db.sqlite3.png" alt="png">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2>Total Records</h2>
                <p>Total records in companies: {{ total_in_companies | safe }}</p>
                <p>Total records in Charges: {{ total_in_charges | safe }}</p>
            </div>
            <div class="col-sm">
                <h3>Charges Column Names</h3>
                <ul>
                {% for column in charges_column_names %}
                <li>{{ column }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm">
                <h3>Companies Column Names</h3>
                <ul>
                {% for column in companies_column_names %}
                <li>{{ column }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}