<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>Inicio</h1>
    <p>Creado para prueba técnica</p>
    <p>Desarrollado por Emmanuel Palomeque Alcázar</p>
    <hr />
    <p>Data Pipeline con archivo CSV</p>
    <a href="/section_1">Section 1</a>
    <br />
    <p>Prueba de manejo de programación orientada a objetos</p>
    <a href="/section_2">Section 2</a>
</body>
</html>