{% extends 'base.html' %}
{% block page_title %}Inicio{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Data Pipeline</h1>
                <p>Creado para prueba técnica | Desarrollado por Emmanuel Palomeque Alcázar</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2>Section 1</h2>
                <p>Data Pipeline con archivo CSV</p>
                <a href="/section_1">Section 1</a>
            </div>
            <div class="col-sm">
                <h2>Section 2</h2>
                <p>Prueba de manejo de programación orientada a objetos</p>
                <a href="/section_2">Section 2</a>
            </div>
        </div>
    </div>
{% endblock %}