<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block page_title %}
    {% endblock %}
    </title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
      {% block breadcrumb %}
      <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Inicio</a></li>
      </ul>
      {% endblock breadcrumb %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
    {% block js_scripts %}
    {% endblock %}
</body>
</html>






