{% extends 'base.html' %}
{% block page_title %}Section 2: Classes{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Inicio </a></li>
    <li><a href="{% url 'display_section_2' %}"> | Section 2</a></li>
</ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Section 2: Clases</h1>
            <p>Se toma la clase conteniendo los primeros 00 número naturales.</p>
            <p>Al iniciar se tomará un valor por default, pero se puede probar cambiando en el input.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <input type="text" id="data_to_extract">
                <button type="submit" onclick="SendNumber()">Enviar numero</button>
                <div id="input_error" hidden>El número debe ser un entero entre 1 y 100</div>
            </div>
            <div class="col-lg">
                <h2>List of Numbers</h2>
                {{ list_naturals }}
            </div>
        </div>
        <div class="row">
            <h2>Number Lost</h2>
            {{ html_table|safe }}
            <br />
            {{ message }}
        </div>
    </div>

{% endblock %}

{% block js_scripts %}
    <script>
    function SendNumber() {
        errorInput = document.getElementById("input_error");
        dataToExtract = document.getElementById("data_to_extract");
        if (isNaN(dataToExtract.value) || dataToExtract.value < 0) {
            errorInput.hidden = false;
        } else {
            window.location.href="/section_2/" + dataToExtract.value;
        }
    }
</script>
{% endblock %}